<div
  *ngIf="details"
  [@detailsOpacity]="detailsVisibility"
  (@detailsOpacity.done)="onStateChangeEnd($event)"
>
  <img class="el-userdetails__avatar" [src]="details.avatar">
  <div class="el-userdetails__fullname">{{details.firstname}} {{details.surname}}</div>
  <div class="el-userdetails__age">Age: {{details.age}}</div>
  <div class="el-userdetails__city">City: {{details.city}}</div>
  <div class="el-userdetails__about">{{details.about}}</div>
  <button
    class="el-userdetails__start-messaging btn btn-primary"
    (click)="onStartButtonClick()"
    [disabled]="!details._id"
  >Start messaging</button>
</div>
<el-userdetails-spinner *ngIf="!details" [@spinnerOpacity]="'in'"></el-userdetails-spinner>