$cyan50: #E0F7FA;
$cyan100: #B2EBF2;
$cyan200: #80DEEA;
$cyan300: #4DD0E1;
$cyan400: #26C6DA;
$cyan500: #00BCD4;
$cyan600: #00ACC1;
$cyan700: #0097A7;
$cyan800: #00838F;
$cyan900: #006064;
$cyanA100: #84FFFF;
$cyanA200: #18FFFF;
$cyanA400: #00E5FF;
$cyanA700: #00B8D4;