@import '../../../styles/variables';
@import '../../../styles/colors';

.el-message {
  $message-color: $cyan200;
  $message-height: 50px;
  $tongue-width: 15px;
  $message-width: $messageboard-width / 2 - $tongue-width;

  &--loaded {
    opacity: 1;
  }

  &:host {
    margin: 10px 0;
    margin-right: 40px;
    display: block;
    float: right;
    clear: right;
    position: relative;
    max-width: $message-width;
    min-width: 50px;
    background-color: $message-color;
    border-radius: 10px;

    &:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: auto;
      right: -#{$tongue-width};
      top: 10px;
      bottom: auto;
      border: $tongue-width solid;
      border-color: $message-color transparent transparent transparent;
    }
  }

  &__text {
    display: inline-block;
    padding: 10px 20px;
    word-break: break-word;
  }
}


