@import '../../../styles/variables';

.el-userlist-item {
  &__content {
    max-width: 250px;
    margin: 0 auto;
  }

  &__avatar {
    width: $list-item-avatar-width;
    height: auto;
  }

  &__firstname {
    margin-left: 30px;
  }

  &__avatar,
  &__firstname,
  &__surname, {
    display: inline-block;
  }

  &__firstname,
  &__surname {
    font-size: 1.2em;
    &--message-view {
      display: none;
    }
  }
}